<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <title>寶島潤滑油業務</title>
</head>

<body>
  <img id="durango" src="../images/duglas_oil1.png" style="display:block; margin:auto;">
  <script>
    document.getElementById('durango').width = document.body.clientWidth * 0.7;
  </script>
  <main class="container">
    <form method="POST">
      <div class="row mt-5">
        <div class="col-md-5 m-auto text-center">
          <div class="row">
            <div class="col-md-2">帳號</div>
            <div class="col-md-3">
              <div class="form-group mb-3">
                <label for="inputAccount" class="form-inline">
                  <input type="text" class="form-control" id="inputAccount" name="inputAccount">
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">密碼</div>
            <div class="col-md-3">
              <div class="form-group mb-3">
                <label for="inputPassword2" class="form-inline">
                  <input type="password" class="form-control" id="inputPassword" name="inputPassword">
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 m-auto text-center">
              <!-- <button type="submit" class="btn btn-primary mb-2">註冊</button> -->
              <button type="submit" class="btn btn-primary mb-2">登入</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <h2><%= title %></h2>
    
  </main>

  <!-- <script src="index.js" charset="UTF-8"></script> -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
</body>

</html>