<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img id="durango" src="../images/duglas_oil1.png" style="display:block; margin:auto;">
    <script>
        function opsta() {
          document.getElementById('durango').width = document.body.clientWidth * 0.7;
        }
        opsta();
    </script>
    <a href="search">車子資料</a> <a href="obd2">OBD2</a>  <a href="https://tw.bid.yahoo.com/booth/%E3%80%90%E5%9C%93%E5%A4%A2%E8%A3%9C%E7%B5%A6%E7%AB%99%E3%80%91-Y4716620231?page=1&bfe=1">工具天地</a> <a href ="YT"> 產品介紹影片</a>
    <br>
    <br>
    <h2><a href="https://www.youtube.com/embed/o80gh0oDI6s">Lancer/Fortis 保養歸零</a><br></h2>
    <h2><a href="https://www.youtube.com/embed/9PCi3hPt5Uc">第五代 CRV 保養歸零</a><br></h2>
    <h2><a href="https://www.youtube.com/embed/ys9IN59bx7g">kuga保養歸零</a><br></h2>
    <h2><a href="https://www.youtube.com/embed/ynjEtxanPJg">Handle 三菱FUSO堅達保養歸零</a><br></h2>
    <h2><a href="https://www.youtube.com/embed/4TDVDWKnwTY">福壽五期保養歸零</a><br></h2>
    <h2><a href="https://www.youtube.com/embed/n6FdIS7oKUk">E84 X1 保養歸零操作</a><br></h2>
    <h2><a href="https://www.youtube.com/embed/p8lKjJzUKQU">賓士Benz 2016 GLC 300 保養歸零</a><br></h2>
    <h2><a href="https://www.youtube.com/embed/SPCDjsmtjfU">三菱 OUTLANDER 保養歸零設定</a><br></h2>
    <h2><a href="https://www.youtube.com/embed/sCYdwhrEgMQ">Toyota Sienna oil life reset</a><br></h2>
    <h2><a href="https://www.youtube.com/embed/x3Zm7mFFRbw">MITSUBISHI CVT變速箱油更換後重設:</a><br></h2>
</body>
</html>