<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img id="durango" src="../images/duglas_oil1.png" style="display:block; margin:auto;">
    <script>
        function opsta() {
          document.getElementById('durango').width = document.body.clientWidth * 0.7;
        }
        opsta();
    </script>
    <a href="search">車子資料</a> <a href="obd2">OBD2</a>  <a href="https://tw.bid.yahoo.com/booth/%E3%80%90%E5%9C%93%E5%A4%A2%E8%A3%9C%E7%B5%A6%E7%AB%99%E3%80%91-Y4716620231?page=1&bfe=1">工具天地</a> <a href="TZ">保養歸零</a>
    <br>
    <br>
    <br><h2><a href ="https://www.youtube.com/embed/AlxGdgZO8vc">黑煙抑制劑:</a></h2>
    <br><h2><a href ="https://www.youtube.com/embed/xAF9gwr47k8">SPARK 多用途潤滑劑:</a></h2>
    <br><h2><a href ="https://www.youtube.com/embed/zarI8-zYVzo">水箱止漏劑:</a></h2>
    <br><h2><a href ="https://www.youtube.com/embed/k4WKUQnK5NM">強力清潔劑:</a></h2>
    <br><h2><a href ="https://www.youtube.com/embed/6dk2hmkwI70">銅基防卡膏:</a></h2>
    <br><h2><a href ="https://www.youtube.com/embed/4NAoWYi3peU">煞車盤清潔劑:</a></h2>
    </body>
</html>